
/venv*
/Cardet Events Project Django/event_management/media
.env
cheatsheet.txt
docker logs.md
cheat_Sheet_docker.txt

/Cardet Events Project Django/event_management/staticfiles
/Cardet Events Project Django/event_management/core/static/vendor

/venv*
/Cardet Events Project Django/pycache*
/Cardet Events Project Django/event_management/__pycache__/
23d23e2 (first commit)
venv/
.venv/
pycache/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

/Cardet Events Project Django/event_management/Dockerfile
/Cardet Events Project Django/event_management/docker-compose.yml
/Cardet Events Project Django/event_management/docker-compose.prod.yml
/Cardet Events Project Django/event_management/docker-entrypoint.sh
/Cardet Events Project Django/event_management/scripts/fetch_vendor_assets.sh
