
/venv*
/Cardet Events Project Django/event_management/media
.env
TODO.md
cheatsheet.txt
docker logs.md
cheat_Sheet_docker.txt

/Cardet Events Project Django/event_management/staticfiles
/Cardet Events Project Django/event_management/core/static/vendor

/venv*
venv/
.venv/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/