body {
	font-family: Arial, sans-serif;
	background-color: #ffffff;
	margin: 0;
	padding: 30px;
	color: #000;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.logo {
	margin-bottom: 20px;
}

.logo img {
	height: 50px;
}

.title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.event-layout {
	display: flex;
	gap: 30px;
	margin-bottom: 30px;
	flex-wrap: wrap;
}

.event-image img {
	max-width: 300px;
	border-radius: 20px;
}

.hero-icon {
  color: #0174b9;
  width: 25px;
  height: 25px;
}

.image-wrapper {
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  max-width: 300px;
}

.image-wrapper img {
  width: 100%;
  display: block;
}


.info {
	display: flex;
	flex-direction: column;
	gap: 15px;
	flex: 1;
}

.info-row {
	display: flex;
	align-items: center;
	gap: 10px;
}

.info-label {
	font-weight: bold;
}

.qr-card {
	display: flex;
	border-radius: 10px;
	overflow: hidden;
	background-color: #e1eaf1;
	margin-bottom: 30px;

}

.qr-code {
	
	background-color: #d3dfe8;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 2px dashed #999;
	border-top: none;
	border-left: none;
	border-bottom: none;
}

.qr-code img {
	width: 100px;
	height: 100px;
}

.qr-text {
	flex-grow: 1;
	padding: 30px;
	background-color: #ffffff;
	margin: 20px;
	border-radius: 10px;
}

.qr-text h2 {
	margin: 0 0 10px;
}

.footer {
	background-color: #00bcd4;
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 6px;
	font-weight: bold;
}

a {
	color: #00bcd4;
	text-decoration: none;
}