{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Event - {{ event.event_name }}{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md mt-6">
    <div class="flex items-center gap-3">
        {% if request.GET.next %}
            <a href="{{ request.GET.next }}" class="btn btn-outline-blue transition-colors p-2 rounded-lg ">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                </svg>
            </a>
        {% else %}
            <a href="{% url 'event_list' %}" class="btn btn-outline-blue transition-colors p-2 rounded-lg ">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                </svg>
            </a>
        {% endif %}
        <h1 class="text-3xl font-semibold text-center flex items-center justify-center gap-2">
            
            Edit Event
        </h1>
    </div>    
    <form method="POST" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                {{ form.company|as_crispy_field }}
            </div>
            <div>
                {{ form.event_name|as_crispy_field }}
            </div>
            <div>
                {{ form.status|as_crispy_field }}
            </div>
            <div>
                {{ form.event_date|as_crispy_field }}
            </div>
            <div>
                {{ form.location|as_crispy_field }}
            </div>
            <div>
                {{ form.start_time|as_crispy_field }}
            </div>
            <div>
                {{ form.end_time|as_crispy_field }}
            </div>
			<!-- Description Field (Full Width) -->
			<div>
				{{ form.description|as_crispy_field }}
			</div>
			<div>
				{{ form.tickets|as_crispy_field }}
                {{ form.public_registration_enabled|as_crispy_field }}
			</div>
			<div>
				{{ form.signatures|as_crispy_field }}
			</div>
	
			<!-- Image Upload -->
			<div>
				{{ form.image|as_crispy_field }}
			</div>
        </div>



        <div class="flex justify-between mt-6">
            {% if request.GET.next %}
                <a href="{{ request.GET.next }}" class="bg-gray-500 text-white px-6 py-2 rounded-lg hover:bg-gray-700 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                    </svg>
                    Cancel
                </a>
            {% else %}
                <a href="{% url 'event_list' %}" class="bg-gray-500 text-white px-6 py-2 rounded-lg hover:bg-gray-700 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                    </svg>
                    Cancel
                </a>
            {% endif %}
            <button type="submit" class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-700 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
                Save Changes
            </button>
        </div>
    </form>
</div>
{% endblock %}
